@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application build for any conference or events which is organized by any collage, school or organization.
     The purpose of making this application is to provide a easiness of finding the event or conference schedule at
     one place and provides a better, more timely and effective process of communication to schedule and coordinate 
    events by utilizing internet based application. The people may get fail to answer the call or would be unable to 
    check the email so this application will lead a better communication of the people about the conference or event.</p>
