
@{
    ViewBag.Title = "VideoGallery";
}

<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Video Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>
        <div class="item active col-lg-3 col-md-4 col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A5NA89oTD8A"></iframe>
            </div>
        </div>

    </div>

</div>
